.navbarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 256px;
    height: 100dvh;
    background-color: #1E201F;
    padding: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    color: #FFF;
    flex-shrink: 0;
    overflow-y: auto;
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
    width: 100%;
}

.logoTitle {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin: 0;
    color: #e2e2e2;
}

.logoIcon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.logoBadge {
    font-size: 0.75rem;
    background-color: #3A3D38;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    color: #B8B6AA;
    font-weight: 600;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.navLink {
    align-items: center;
    display: flex;
    gap: 0.85rem;
    padding: 0.75rem 1rem;
    color: #d7d9db;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 8px;
    transition: all 0.2s;
}

.navLink:hover {
    box-shadow: 0 4px 1px rgba(0,0,0,0.4);
    background-color: #4A4D46;
    color: #FFF;
}

.navIcon {
    font-size: 1.1rem;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #dbdbdb;
    transition: color 0.2s;
    line-height: 1;
    transform: translateY(2px);
}

.navLink.active {
    background-color: #4A4D46;
    color: #FFF;
    box-shadow: 0 4px 1px rgba(0,0,0,0.4);
}

.navLink.active .navIcon {
    color: #FFF;
}

.logoutButton {
    border: 0;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    background-color: inherit;
    gap: 0.25rem !important;
}

.logoutButton:hover {
    background-color: var(--alpha-red);
}