##                       ENVIRONMENT CONFIGURATION                 ##
## _______________________________________________________________ ##

## -- SERVER
URL_PATHING=
SERVER_PORT=
API_BASE_PATH=
ROUTE_ENDPOINT_FOLDER=

## _____________________________________________________________________________________________________________________

## -- VERSION
APP_VERSION=
APP_ENV=

## _____________________________________________________________________________________________________________________

## -- JWT
JWT_SECRET=
ACCESS_EXPIRATION=
REFRESH_EXPIRATION=