.membershipWrapper {
    width: var(--alpha-component-width-100);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.membershipCard {
    opacity: 0.8;
    padding: 2rem;
    border: 3px solid #cecdcd;
    border-radius: var(--alpha-component-border-radius);
    background: #FFF;
    box-shadow: var(--alpha-component-box-shadow);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    position: relative;
    color: inherit;
    text-decoration: none;
}

.membershipCard:not(.current):hover {
    background: #e7e7e7;
    color: #1e201f;
}

.membershipCard h2 {
    opacity: 0.7;
    margin: 0 0 0.75rem;
    font-size: 1.5rem;
}

.membershipCard p {
    margin: 0 0 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.membershipCard ul {
    margin: 0;
    padding-left: 0.75rem;
}

.membershipCard li {
    margin-bottom: 0.25rem;
}

.current {
    border: 3px solid #b8c0bd;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2) !important;
}