.heroWrapper {
    width: 100%;
    background-color: var(--alpha-surface-raised);
    border: 2px solid #d6d0c4;
    border-radius: var(--alpha-component-border-radius);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    box-shadow: var(--alpha-component-box-shadow);
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heroTitle {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    color: #1E201F;
    opacity: 0.8;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.heroMeta {
    display: flex;
    flex-direction: column;
}

.metaText {
    font-size: 1rem;
    color: var(--alpha-muted);
    margin: 0;
}

.metaHighlight {
    font-weight: 600;
    color: var(--alpha-accent-dark);
}

.heroAction {
    flex-shrink: 0;
    width: auto;
}

.heroSubmitBtn {
    width: auto !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
	background-color: var(--alpha-blue) !important;
    box-shadow: 0 5px 1px rgba(0,0,0,0.6);
    border-radius: 0.5rem !important;
}

.heroSubmitBtn:hover {
	background-color: #4f504d !important;
}